body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.semaforo {
  display:flex;
  flex-direction: column;
}

.cable {
  height: 104px;
  width: 20px;
  background-color: black;
  position: relative;
  align-self: center;
}

.container {
  height: 375px;
  width: 155px;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}

.circle {
  height:7em;
  width: 7em;
  align-self: center;
  border-radius: 50%;
  margin: 0.2em 0;
  transition: .5s;
  cursor: pointer;

 
}

.rojo {
  margin-top: 0.8em;
  background-color: red;
 
}

.amarillo {
  background-color: orange;
  
}

.verde {
  background-color: rgb(14, 160, 14);
}

.glow {
  opacity: 1;
  color: #ffa502;
  box-shadow: 0 0 60px #e8ca56;
  text-shadow: 0 0 60px #e8ca56;
}

.notglow {
  opacity: 0.8;
}
